@model Employee

<div class="jumbotron mt-5">
    <h1 class="text-primary">Edit Employee's Information</h1>
    <hr>
    <div class="row">
        <div class="col-4">
            <form asp-action="Edit">
            
              <div class="form-group">
                <label for="id">Id</label>
                <input asp-for="Id" type="number" class="form-control" id="id" aria-describedby="sicilNoYardim">
                <small id="sicilNoYardim" class="form-text text-muted">Benzersiz bir sicil numarası girilmelidir</small>
              </div>
            
              <div class="form-group">
                <label for="name">Name</label>
                <input asp-for="Name" type="text" class="form-control" id="name">
              </div>
            
              <div class="form-group">
                <label for="sureName">SureName</label>
                <input asp-for="SureName" type="text" class="form-control" id="sureName">
              </div>
            
                <div class="form-group">
                <label for="photo">Photo</label>
                <input asp-for="Photo" type="text" class="form-control" id="photo" aria-describedby="resimYardim" placeholder="ahmet.jpg">
                <small id="resimYardim" class="form-text text-muted">Resmin yolu girilmedir</small>
              </div>
            
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>